@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';


button.inline-flex.items-center.transition-colors.text-ink-white.rounded.bg-surface-gray-7 {
  background: #0073E6;
  color: #fff;
}

.text-ink-gray-9 {
  color: #000000;
}

.text-ink-gray-8 {
  color: #000000;
}
